.main{
	width: 100%;
	height: 640px;
	background: -webkit-linear-gradient(#4eb0f7, #66cbf7);
 	background: -o-linear-gradient(#4eb0f7, #66cbf7);
    background: -moz-linear-gradient(#4eb0f7, #66cbf7);
    background: linear-gradient(#4eb0f7, #66cbf7);
}
.mainCenter{
	width: 1338px;
	height: 640px;
	margin:0 auto;
	background: url(../images/login/bg.png) no-repeat;
}
.mainCenter form{
	width: 560px;
	height: 450px;
	background: #fff;
	position: relative;
	left: 385px;
	top: 90px;
}
.mainCenter form .title{
	font-size: 18px;
	color: #58bbf7;
	text-align: center;
	font-weight: bold;
}
.mainCenter form .loginForm .title,.mainCenter form .regForm .title{
	width: 510px;
	height: 70px;
	margin:0 auto;
	line-height: 70px;
	border-bottom: 1px solid #e5e5e5;
}
.mainCenter form .loginForm .contentInput{
	width: 460px;
	height: 60px;
	border:1px solid #e5e5e5;
	margin:40px auto 0;
	display: flex;
	align-items: center;
}
.mainCenter form .loginForm .contentInput img{
	margin-left: 30px;
}
.mainCenter form .loginForm .contentInput input{
	width: 380px;
	height: 40px;
	font-size: 16px;
	text-align: center;
}
.mainCenter form .loginForm .btn,.mainCenter form .regForm .btn{
	width: 460px;
	height: 48px;
	margin:38px auto;
	border-radius: 3px;
	background: #58bbf7;
	cursor: pointer;
	font-size: 18px;
	text-align: center;
	line-height: 48px;
	color: #fff;
}
.mainCenter form .loginForm .links{
	width: 460px;
	margin:0 auto;
	font-size: 16px;
	display: flex;
	justify-content: space-between;
}
.mainCenter form .loginForm .links .left{
	color: #58bbf7;
	cursor: pointer;
}
.mainCenter form .loginForm .links .right{
	color: #999;
	cursor: pointer;
	display: flex;
	align-items: center;
}
.mainCenter form .loginForm .links .right img{
	margin-left: 5px;
}
/*注册部分*/
.mainCenter form .regForm .contentInput{
	width: 460px;
	height: 40px;
	margin:26px auto 0;
	display: flex;
	align-items: center;
}
.mainCenter form .regForm .contentInput span{
	width: 90px;
	height: 40px;
	font-size: 16px;
	line-height: 40px;
}
.mainCenter form .regForm .contentInput input{
	width: 370px;
	height:40px;
	box-sizing:border-box;
	border:1px solid #e5e5e5;
	border-radius: 3px;
	text-indent: 25px;
	font-size: 16px;
}
.mainCenter form .regForm .contentInput .code{
	width: 220px;
}
.mainCenter form .regForm .contentInput .codeBtn{
	width: 140px;
	height: 40px;
	margin-left: 10px;
	border-radius: 3px;
	background: #58baf7;
	color: #fff;
	text-align: center;
	line-height: 40px;
	font-size: 16px;
	cursor: pointer;
}
.mainCenter form .regForm .tips{
	color: #58bbf7;
	position: relative;
	top: 13px;
	left: 180px;
}
.mainCenter form .regForm .loginLink{
	width: 460px;
	height:60px;
	margin:0 auto;
	color: #58bbf7;
	cursor: pointer;
	font-size: 16px;
	text-align: right;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}
.mainCenter form .regForm .loginLink img{
	margin-left: 5px;
}