/*营销应用*/
.other_content .title{
	font-size: 14px;
	color: #333;
}
.other_content .application,.other_content .function{
	width: 100%;
	height: 180px;
	background: #fff;
}
.other_content .application ul{
	margin:20px auto;
}
.other_content .application li{
	width: 24%;
	height: 157px;
	margin-left: 7%;
	float: left;
	background: #fff;
	border-radius: 5px;
}
.other_content .application li .p1{
	font-size: 20px;
	color: #fff;
    text-align: center;
    margin-top: 15px;
}
.other_content .application li .p2{
	font-size: 14px;
	color: #fff;
	margin-top: 10px;
    text-align: center;
}
.other_content .application li .p2 span{
    font-size: 24px;
    color: #fff;
    padding-right: 10px;
}
.other_content .application li .p3{
    width: 100px;
    margin:0 auto;
    text-align: center;
    font-size: 16px;
    color: #fff;
    padding:5px 10px;
    border:2px solid #fff;
    border-radius: 5px;
    cursor: pointer;
}
/*中间table*/
.table{
    width: 98%!important;
    margin:15px auto;
}
.table thead{
    background: #66CCCE;
}
.table thead tr th{
    color: #fff!important;
    text-align: center;
    border-bottom: none!important;
    padding: 5px 0 !important;

}
/*表格相关*/
.table tbody tr td{
    height: 45px;
    padding: 0 !important;
    text-align: center;
    vertical-align: middle!important;
    border-bottom: 1px solid #ddd;
    border-top: none;

}
.table tbody tr td span{
    padding:7px 12px;
    background: #66CCCE;
    color: #fff;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 12px;
}
.table tbody tr .price{
    line-height: 12px;
}
.table tbody tr .price .origin{
    margin-top: 15px;
    text-decoration: line-through;
}
.table tbody tr .price .now{
    color: #FE7E68;
}
.list_radio1{
    height: 20px;
    position: relative;
    top: 8px;
}
.list_radio1_div{
    float: left;
    width: 50%;
    height: 45px;
    line-height: 45px;
}
/*条件搜索部分*/
.condition{
    width: 100%;
}
.condition li{
    margin-top: 15px;
}
.condition .li1{
    width: 24%;
    float:left;
}
.condition .li2{
    width: 14%;
    float:left;
}
.condition .content_li{
    width: 210px;
    margin:0 auto;
}
.condition .select-parent{
    width: 140px;
    height: 35px;
    border:1px solid #ff8900;
    border-radius: 5px;
    float: left;
    cursor: pointer;
}
.condition li span{
    float: left;
    font-size: 14px;
    margin-right: 10px;
    margin-top: 7px;
}
.condition li input{
    width: 140px;
    height: 35px;
    border:1px solid #ff8900;
    border-radius: 5px;
}
.condition .li2 input{
    width: 100px;
    height: 35px;
    padding-left: 0;
    border: none;
    background: #66CCCE;
    color: #fff;

}